<div class='container-left'>
    {{> sidebar }}
</div>
<div class='container-right'>
    <div class='payment'>
        <div class='container'>
            <div class='create-header'>Chi tiết đơn hàng</div>
            <div class='payment-body'>
                <div class='row'>
                    <!-- Payment Product -->
                    <div class='col-lg-6'>
                        <div class='product-list-payment'>
                            <div class='product-payment-item'>
                                <div class='row'>
                                    <div class="col-8">
                                        {{#each getFood}}
                                        <div class="product-payment-wrap">
                                            <img
                                                src={{img}}
                                                class='product-payment-img'
                                            />
                                            <strong class='product-payment-name'>{{name}}</strong>
                                        </div>
                                    {{/each}}
                                    </div>
                                    <div class="col-4">
                                        {{#each getDetailCart}}
                                        <div class="product-payment-wrap product-payment-wrap--right">
                                            <strong class='product-payment-quantity'>x {{quantity}}</strong>
                                            <strong class='product-payment-price'>{{price}}.000 đ</strong>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div> 
                            </div>
                            <div class='payment-total'>
                                <div class='payment-total-title'>Tổng tiền: </div>
                                <strong class='payment-total-number'>{{getCart.total}}.000 đ</strong>
                            </div>
                        </div>
                    </div>
                    <!-- Payment Info -->
                    <div class='col-lg-6'>
                        <div class='payment-list-info'>
                            <div class='payment-item row'>
                                <p class='col-4'> Tên khách hàng </p>
                                <strong class='col-8'>: {{getCustomer.fullname}}</strong>
                            </div>
                            <div class='payment-item row'>
                                <p class='col-4'> Số điện thoại </p>
                                <strong class='col-8'>: {{getCustomer.phone}}</strong>
                            </div>
                            <div class='payment-item row'>
                                <p class='col-4'> Địa chỉ </p>
                                <strong class='col-8'>: {{getCustomer.address}}</strong>
                            </div>
                            <div class='payment-item row'>
                                <p class='col-4'> Ngày đặt </p>
                                <strong class='col-8 day_value'>: {{getCart.createAt}}</strong>
                            </div>
                            <div class='payment-method'>
                                <div class='payment-title'>Phương thức thanh toán</div>
                                <div hidden class="value-type-payment">{{getOrder.payment_Method}}</div>
                                <label class='form-select-payment'>
                                    <div class='payment-check'>
                                        <input disabled type='radio' class="payment-type--cash" name='radio' />
                                        <span>Thanh toán khi nhận hàng</span>
                                    </div>
                                </label>
                                <label class='form-select-payment'>
                                    <div class='payment-check'>
                                        <input disabled type='radio' class="payment-type--momo" name='radio' />
                                        <span>Thanh toán qua ví Momo</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class='payment-button'>
                            <a href='/orders'>
                                <button class='btn btn-quit payment-quit'>↩ Quay lại</button>
                            </a>
                            <div class="btn-wrap">
                                <form method='POST' action='/orders/{{getOrder._id}}?_method=PUT'>
                                    {{!-- Value Hidden --}}
                                    <input hidden name='state' id='state' value='true' />
                                    <input hidden name='confirm_Order' id='confirm_Order' value='Đã duyệt' />
                                    <input hidden name='order_Status' id='order_Status' value='Đã duyệt' />
                                    <button type="submit" class='btn btn-payment payment-confirm'>{{getOrder.order_Status}}</button>
                                </form>
                                <form method='POST' action='/orders/{{getOrder._id}}/cancel?_method=PUT'>
                                    <input hidden name='confirm_Order' id='confirm_Order--cancel' value='Đã hủy' />
                                    <input hidden name='order_Status' id='order_Status--cancel' value='Đã hủy' />
                                    <button type="submit" class='btn btn-cancel btn-payment payment-cancel'>Hủy đơn</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Display Date
    const valueDay = document.querySelectorAll('.day_value')
    valueDay.forEach((item) => (item.innerText = item.innerText.slice(0, 26)))

    // Type payment checked
    const radioCash = document.querySelector('.payment-type--cash')
    const radioMomo = document.querySelector('.payment-type--momo')
    const valueTypePayment = document.querySelector('.value-type-payment').innerText

    if(valueTypePayment == 'Momo') {
        radioMomo.setAttribute("checked", "checked")
    } else {
        radioCash.setAttribute("checked", "checked")
    }

    // Display Button Status
    const buttonStatus = document.querySelector('.payment-confirm')
    const valueOrderStatus = document.getElementById('order_Status')

    if(buttonStatus.innerText == "Chưa duyệt") {
        buttonStatus.innerText = "Duyệt đơn"
    }
    else if(buttonStatus.innerText == "Đã duyệt") {
        buttonStatus.innerText = "Đang chuẩn bị"
        valueOrderStatus.value = "Đang chuẩn bị"
    }
    else if(buttonStatus.innerText == "Đang chuẩn bị") {
        buttonStatus.innerText = "Đã chuẩn bị xong"
        buttonStatus.setAttribute("disabled", "disabled")
    }
    else if(buttonStatus.innerText == "Đã hủy") {
        buttonStatus.setAttribute("disabled", "disabled")
    }
</script>