<div class='container-left'>
    {{> sidebar }}
</div>
<div class='container-right'>
    <div class='form-wrap'>
        <div class='form-header'>
            <a class="form-header-title" href='/foods'>
                Món Ăn Đã Xóa
            </a>
            <a class="btn btn-quit" href="/foods">
                <span><ion-icon name="arrow-undo-outline"></ion-icon></span> 
                Danh sách món ăn
            </a>
        </div>

        <form action='/foods/handle-form-actions-trash' method='POST'>
            {{! Form Option }}
            <div class='form-action'>
                <div class='form-selected'>
                    <h4 class='notify-checked'></h4>
                    <select hidden required class='form-select-option' name='action'>
                        <option value=''>Chọn thao tác</option>
                        <option value='deleteAll'>Xóa</option>
                        <option value='restoreAll'>Khôi phục</option>
                    </select>
                    <button type='submit' hidden class='btn btn-danger btn-action-check'>Thực hiện</button>
                </div>
            </div>

            {{! List Foods }}
            <div class='list-info'>
                <div class='form-heading'>
                    <ul class='row list-heading'>
                        <li class='col-lg-1 list-item-des'>
                            <input class="order-check" type="checkbox" id="checkbox-all">
                        </li>
                        <li class='col-lg-2 list-item-heading'>Ảnh</li>
                        <li class='col-lg-4 list-item-heading'>Tên món</li>
                        <li class='col-lg-1 list-item-heading'>Loại</li>
                        <li class='col-lg-2 list-item-heading btn-sort'>Đơn giá</li>
                        <li class='col-lg-2 list-item-heading'>Tác vụ</li>
                    </ul>
                </div>

                <div class="form-des__wrap list-food__trash">
                    {{#each foods}}
                    <div class='form-des'>
                        <ul class='row list-des'>
                            <li class='col-lg-1 list-item-des'><input
                                class='order-check'
                                type='checkbox'
                                name='trashIds'
                                value='{{_id}}'
                            /></li>
                            <li class='col-lg-2 list-item-des'>
                                <img
                                    class='product-img'
                                    src={{img}}
                                    alt=''
                                />
                            </li>
                            <li class='col-lg-4 list-item-des'>{{name}}</li>
                            <li class='col-lg-1 list-item-des'>{{type}}</li>
                            <li class='col-lg-2 list-item-des item-total'>{{price}}.000 đ</li>
                            <li class='col-lg-2 list-item-des'>
                                <a href="" data-bs-toggle='modal' data-bs-target='#delete-course-modal' data-id="{{_id}}">
                                    <span class='btn-delete'><ion-icon name="close-outline"></ion-icon></span> 
                                </a>
                                <a href="" class="btn-restore" data-id="{{_id}}">
                                    <span class='btn-delete btn-edit'><ion-icon name="refresh-outline"></ion-icon></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {{else}}
                    <tr>
                        <div class="notify"> Thùng rác trống. <a href="/foods">Danh sách món ăn</a></div>
                    </tr>
                    {{/each}}
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Confirm Delete -->
<div class='modal fade' id='delete-course-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Xóa</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                Hành động này không thể khôi phục.
                Bạn vẫn muốn xóa sản phẩm này ?
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-outline' data-bs-dismiss='modal'>Hủy</button>
                <button id='btn-delete-food' type='button' class='btn btn-danger'>Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

<form name='delete-food-form' method='POST'></form>
<form name='restore-food-form' method='POST'></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Restore Action
        var restoreBtn = $('.btn-restore')
        var restoreForm = document.forms['restore-food-form']
        
        // cú pháp thêm sự kiện cho từng nút khi onclick của JQuery
        restoreBtn.click(function (e) {
            // bỏ sự kiện mặc định của thẻ a
            e.preventDefault();
            
            var foodId = $(this).data('id');
            restoreForm.action = '/foods/' + foodId + '/restore?_method=PATCH';
            restoreForm.submit();
        })

        // Delete Action
        var courseId
        var btnDeleteCourse = document.getElementById('btn-delete-food')
        var deleteForm = document.forms['delete-food-form']

        // lấy id của item được nhấn
        $('#delete-course-modal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget)
            courseId = button.data('id')
        })

        // button delete ở form dialog
        btnDeleteCourse.onclick = function() {
            // thêm action đường dẫn vào form delete vừa tạo
            deleteForm.action = '/foods/' + courseId + '/force?_method=DELETE'
            deleteForm.submit()
        }

        // Checkbox all
        var checkboxAll = $('#checkbox-all')
        var foodItemCheckbox = $('input[name="trashIds"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')
        // Notify selection
        var selectAllOption = document.querySelector('.form-select-option')
        var notifyChecked = document.querySelector('.notify-checked')
        var btnAction = document.querySelector('.btn-action-check')

        // Checkbox all changed
        checkboxAll.change(function() {
            const isCheckedAll = $(this).prop('checked')
            if(isCheckedAll == true) {
                foodItemCheckbox.prop('checked', isCheckedAll)
                // checkAll sẽ hiện ra và ẩn khi bỏ check
                var checkedCount = $('input[name="trashIds"]').length  
                selectAllOption.removeAttribute('hidden')
                btnAction.removeAttribute('hidden')
                notifyChecked.innerHTML = `Bạn đã chọn <span>${checkedCount}</span> mục`
            }
            else {
                foodItemCheckbox.prop('checked', isCheckedAll)
            }
        })

        // Food item checkbox changed
        foodItemCheckbox.change(function() {
            const isCheckedAll = foodItemCheckbox.length === $('input[name="trashIds"]:checked').length   
            checkboxAll.prop('checked', isCheckedAll)
            displayNotify()
        })

        // Re-render notify
        function displayNotify() {
            var checkedCount = $('input[name="trashIds"]:checked').length  
            // tối thiểu có 1 course item đc chọn sẽ enable checkAllSubmitBtn
            if(checkedCount > 0) {
                selectAllOption.removeAttribute('hidden')
                btnAction.removeAttribute('hidden')
                notifyChecked.innerHTML = `Bạn đã chọn <span>${checkedCount}</span> mục`
            } else{
                selectAllOption.setAttribute('hidden', 'hidden')
                btnAction.setAttribute('hidden', 'hidden')
                notifyChecked.innerHTML = ''
            }
        }
    })
</script>




